/* GLOBAL */

:root {
    /* Color */
    --dark: rgb(51, 51, 51);
    --lightGreen: rgb(159, 239, 96);
    --darkGreen: rgb(75, 173, 0);
    --backgroundCard: rgba(255, 255, 255, 0.5);
    
    /* Border */
    --defaultBorder: solid 4px var(--darkGreen);

    /* Font size */
    --fontSize-Little: 10px;
    --fontSize-Normal: 14px;
    --fontSize-SubTittle: 24px;
    --fontSize-Tittle: 36px;

    --border-radius-Big: 24px;
    --border-radius-Little: 16px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

body {
    transition: all 0.2s;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: var(--fontSize-Normal);
    color: var(--dark);
}

/* END GLOBAL */



/* SCREEN */

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
}

.hud {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#snakePoints, #gameTime {
    background-color: var(--lightGreen);
    border: var(--defaultBorder);
    border-radius: 24px 24px 0px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fontSize-SubTittle);
    width: 240px;
    height: 50px;
    font-weight: bold;
    margin: 0px 40px;
}

canvas {
    background-color: var(--lightGreen);
    background-image: url(../images/background.svg);
    border: var(--defaultBorder);
    border-radius: 8px;
    opacity: 1;
}

/* END SCREEN */



/* CARD MENU */

.cardMaster {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card, .startMasterHTML {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 434px;
    width: 360px;
    background-color: var(--backgroundCard);
    border-radius: var(--border-radius-Big);
    border: var(--defaultBorder);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    /* Position absolute para deixar os elementos sobrepostos e inseridos na tela em forma de porcentagem, assim eles ficaram iguais para todos os dispositivos */
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -45%);
    z-index: 1;
}

.startMasterHTML {
    height: 150px;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -245%);
}

.logo {
    transform: scale(0.7);
}

.cardButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
}

.button, .divButton {
    transition: all 0.2s;
    width: 280px;
    height: 70px;
    background-color: var(--lightGreen);
    font-weight: bold;
    color: var(--dark);
    margin: 10px 0px;
    font-size: var(--fontSize-Tittle);
    border: var(--defaultBorder);
    border-radius: var(--border-radius-Little);
}

.button:hover {
    transition: all 0.1s;
    cursor: pointer;
    background-color: transparent;
    transform: scale(1.01);
}

.text-copyright, .text-copyright-credits {
    font-size: var(--fontSize-Little);
    font-weight: bold;
    margin: 24px 0px;
}

/* END CARD MENU */



/* MENU PLAY AGAIN */

.divButton {
    width: 280px;
    height: 70px;
}

.result:hover {
    cursor: default;
    transform: scale(1.0);
    background-color: var(--lightGreen);
}

.playAgainButton {
    height: fit-content;
    height: 116px;
    margin-bottom: 40px;
}

.buttonClose {
    z-index: 3;
    transition: all 0.2s;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(220%, -330%);
}

.buttonClose:hover {
    cursor: pointer;
}

/* END MENU PLAY AGAIN */



/* CREDITS */

.credits {
    display: flex;
    justify-content: flex-end
}

.creditsH2 {
    font-size: var(--fontSize-SubTittle);
    
    margin-bottom: 10px;
}

.creditsH3 {
    font-size: var(--fontSize-Normal);
    font-weight: normal;
    margin-bottom: 12px;
}

.developers {
    border: var(--defaultBorder);
    background-color: var(--lightGreen);
    border-radius: var(--border-radius-Little);
    width: 272px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-style-none {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.listElements {
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
    text-align: left;
    font-weight: bold;
    color: var(--dark);
}

.listElements:hover {
    transition: all 0.2s;
    transform: scale(1.02);
}

.developersImage {
    height: auto;
    width: 36px;
    border: var(--defaultBorder);
    border-radius: 99px;
    margin-right: 8px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.github {
    transition: all 0.2s;
    width: auto;
    height: 36px;
}

.linkGithub {
    transition: all 0.2s;
}

.linkGithub:hover {
    transition: all 0.2s;
    transform: scale(1.1);
}

.text-copyright-credits {
    margin-left: 18px;
}

/* END CREDITS */



/* DEFINITIONS */

.definitions {
    display: flex;
    justify-content: flex-end;
}

.settings {
    width: 280px;
}

.settingsElements {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 16px;
}

.rangeText {
    font-weight: bold;
    font-size: var(--fontSize-SubTittle);
    text-align: left;
    margin-bottom: 14px;
}

input[type='range'] {
    cursor: pointer;
}
  
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type="range"] {
    appearance: none;
    height: 8px;
    width: 272px;
    border-radius: var(--border-radius-Big);
    border: var(--defaultBorder);
    background-color: var(--lightGreen);
    cursor: pointer;
    outline: none;
}

input[type='range']::-webkit-slider-thumb {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    background-image: url(../images/apple.svg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wasdArrows {
    width: 260px;
    margin: 24px 0px;
}

/* END DEFINITIONS */

.startMaster, .playAgainMaster, .creditsMaster, .definitionsMaster {
    display: none;
}