* {
    margin: 0 ;
    padding: 0;
}

body {
    background-color: rgba(146, 146, 146, 0.785);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

canvas {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(77, 77, 77);
    border-radius: 10px;
}