@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    font-family: 'Montserrat';
}

canvas {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #9FEF60;
    border: solid #4BAD00 4px;
    border-radius: 8px;
}

#snakePoints {
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 5px 20px;
    background-color: #9FEF60;
    border: solid #4BAD00 4px;
    border-radius: 10px;
    margin-top: 20px;
    color: white;
    font-size: 20px;
}

.divcontainer{
    width: 990px;
    height: 600px;
    border: solid red 1px;
}